.error {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.452);
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-size: 12px;
    color: #614b08;
    border: 2px solid rgb(151, 122, 102);
}

.error-no-value {
    width: 200px;
    top: -27px;
    right: 35px;
}

.error-no-wrong-value {
    width: 300px;
    top: -15px;
    right: -310px;
}
